fieldset {
    border: none;
    padding: 0;
    margin: 0;
    .radioAsset {
        display: flex;
        .radioContainer {
            display: flex;
        }
    }
    input[type="radio"] {
        appearance: none;
    }

    .radioLabel {
        background-color: white;
        padding: 10px 20px;
        width: 100px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
