@use "./variables" as var;

header {
	background-color: var.$primary;
}

// Common styling for the box like elements
.boxStyling {
	min-height: 50px;
	padding: 18px 5px 18px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
}

// Styling for .mainContainer which holds most dynamically generated elements except for the choices
.mainContainer {
	background-color: var.$containerBG;
}

// Styling for the choices
.choiceContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
	// Styling for the four choices, displayed as a 2x2
	.choiceList {
		width: 49%;
		margin-bottom: 18px;
	}
	// Styling for the dynamically generated element which tells the user whether they are correct or incorrect
	.choiceEvaluation {
		width: 100%;
	}
}

// Styling for the dynamically generated elements which tell the user their score
.forScore {
	flex-direction: row;
	justify-content: space-between;
	padding: 18px;
}

// Styling for the table
table {
	margin: 0 0 36px 0;
}

// Styling for the table header
th {
	width: 100px;
	height: 50px;
}

// Styling for the footer
// right 0% and left 0% to center the absolutely positioned element
footer {
	position: absolute;
	bottom: 0;
	right: 0%;
	left: 0%;
	background-color: var.$containerBG;
	height: 25px;
}

// Media queries styling
@media (max-width: 475px) {
	// Changing the flex direction of the .radioContainer
	.radioContainer {
		flex-direction: column;
		align-items: center;
	}

	// Changing the flex direct of the .choiceContainer
	.choiceContainer {
		flex-direction: column;
		gap: 18px;
		// Expand the width of each chocie to 100% when displayed in a column
		.choiceList {
			width: 100%;
			margin-bottom: 0;
		}
	}
	// General media query styling for the .boxStyling and .selectionButton
	.boxStyling,
	.selectionButton {
		padding: 5px 15px 5px 15px;
	}

	// Change the flex direction to column
	.forScore {
		flex-direction: column;
		gap: 10px;
	}
}
