@use "./variables" as var;

header {
	background-color: var.$primary;
}

// Common styling for the box like elements
.boxStyling {
	min-height: 50px;
	padding: 18px 5px 18px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
}

// Styling for .mainContainer which holds most dynamically generated elements except for the choices
.mainContainer {
	background-color: var.$containerBG;
}

// Styling for the choices
.choiceContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
	// Styling for the four choices, displayed as a 2x2
	.choiceList {
		width: 49%;
		margin-bottom: 18px;
	}
	// Styling for the dynamically generated element which tells the user whether they are correct or incorrect
	.choiceEvaluation {
		width: 100%;
	}
}

// Styling for the dynamicallu generated elements which tell the user their score
.forScore {
	flex-direction: row;
	justify-content: space-between;
	padding: 18px;
}

table {
	margin: 0 0 36px 0;
}

th {
	width: 100px;
	height: 50px;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0%;
	left: 0%;
	background-color: var.$containerBG;
	height: 25px;
}

// Media queries styling
@media (max-width: 475px) {
	.radioContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.choiceContainer {
		flex-direction: column;
		gap: 18px;
		.choiceList {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.boxStyling,
	.selectionButton {
		padding: 5px 15px 5px 15px;
	}

	.forScore {
		flex-direction: column;
		gap: 10px;
	}
}
