@use "./variables" as var;

// General site styling
html {
	font-size: 62.5%;
	background-color: var.$bgColour;
}

// Style for the wrapper
.wrapper {
	width: 85%;
	max-width: 1200px;
	margin: 0 auto;
}

// Spacers to provide consistent spacing throughout the page
.smallSpacer {
	height: 16px;
}

.mediumSpacer {
	height: 30px;
}

// Media queries styling
@media (max-width: 475px) {
	// Media query for the spacers
	.smallSpacer {
		height: 8px;
	}

	.mediumSpacer {
		height: 18px;
	}
}
