@use "./variables" as var;

html {
	font-size: 62.5%;
	background-color: var.$bgColour;
}

.wrapper {
	width: 85%;
	max-width: 1200px;
	margin: 0 auto;
}

.smallSpacer {
	height: 16px;
}

.mediumSpacer {
	height: 30px;
}

.largeSpacer {
	height: 56px;
}

@media (max-width: 475px) {
	.smallSpacer {
		height: 8px;
	}

	.mediumSpacer {
		height: 18px;
	}

	.largeSpacer {
		height: 28px;
	}
}
