@use "./variables" as var;


.homeHeading {
    font-family: var.$main;
    color: var.$header;
    font-size: 7rem;
    font-weight: bold;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    a {
        font-size: 4.8rem;
        font-family: var.$main;
    }
    .fa-solid,
    .fa-crown {
        padding: 0 30px;
    }
}

@media (max-width: 420px) {
    header {
        height: 60px;
    }
    
    .choiceContainer {
        gap: 0;
        flex-direction: column;
        .choiceList {
            width: 100%;
            margin-bottom: 25px;
            min-height: 50px;
            padding: 10px;
        }
    }
    footer {
        height: 5vh;
    }
}
