@use "./variables" as var;


h1,
h2,
p,
ul,
li,
a,
.formText {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var.$main;
    font-size: 3.2rem;
    border-radius: 10px;
    display: inline-block;
}

.formText,
h2 {
    font-family: var.$main;
    font-size: 3.8rem;
    text-align: center;
}

a,
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.buttonText {
    font-size: 2.4rem;
}

.scoreText {
    font-size: 3rem;
    font-weight: bold;
}

th,
td,
.radioLabel,
.choiceText {
    font-size: 2.8rem;
    font-family: var.$main;
    color: rgb(0, 0, 0);
    text-align: center;
}

.tFooter {
    font-size: 1.6rem;
    text-align: center;
}
