@use "./variables" as var;

// Typography general styling
h1,
h2,
p,
a,
a:visited,
label,
legend,
input,
select,
th,
td {
	font-family: "Nova Square", cursive;
	font-size: 1.8rem;
	padding: 0;
	margin: 0;
}

// Link typography general styling
a,
a:visited {
	text-decoration: none;
}

// Logo typography
h1 {
	font-size: 4.8rem;
	font-family: "Nova Square", cursive;
	font-style: italic;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: inline-block;
}

// Styling to add a blue neon glow to text
.tBlue {
	color: var.$highlightBlue;
	text-shadow: 0px 0px 10px rgba(148, 247, 255, 0.9);
}

// Styling to add a pink/red neon glow to text
.tRed {
	color: var.$highlightRed;
	text-shadow: 0px 0px 10px rgba(253, 187, 255, 0.8);
}

// General styling for heading. Give a white outer glow.
.homeHeading {
	font-size: 4rem;
	text-align: center;
	color: var.$offWhite;
	text-shadow: 0px 0px 10px rgba(206, 206, 206, 0.8), 0px 0px 10px rgba(206, 206, 206, 0.33);
}

// Typography for question text
.questionText {
	font-size: 2.2rem;
	text-align: center;
	color: var.$offWhite;
}

// Typography for text inside button and button like elements
.choiceText {
	text-align: center;
	color: var.$black;
	font-size: 2rem;
}

// Typography for score
.scoreText {
	font-size: 2.6rem;
	font-family: "Orbitron", sans-serif;
}

// Typography for table heading
th {
	font-size: 2.4rem;
	letter-spacing: 2.2px;
}

// Typography for table data
td {
	text-align: center;
	letter-spacing: 2px;
}

// Specifying text colour
.choiceText,
label,
option,
select,
input {
	color: var.$black;
}

// Specifying text colour
th,
td,
.formText {
	color: var.$offWhite;
}

// Footer typography styling
footer {
	p {
		text-align: center;
		color: var.$offWhite;
	}
}

// Media query typography
@media (max-width: 475px) {
	h1 {
		font-size: 4.4rem;
	}
	.questionText {
		font-size: 2rem;
	}
	.scoreText {
		font-size: 2.4rem;
	}
}
