// Font Colours
$background: rgb(72, 49, 212);
$header: rgb(204, 243, 129);
$subHeader: rgb(231, 70, 45);
$text: rgb(255, 255, 255);
$hover:  rgb(239 241 166);

// Font Family
$main: 'Nova Square', cursive;
