// COLOURS
$primary: rgb(72, 49, 212);
$highlightBlue: rgb(37, 255, 255);
$highlightRed: rgb(255, 61, 148);
$highlightYellow: rgb(246, 232, 88);
$bgColour: rgb(19, 20, 61);

$containerBG: rgb(34, 38, 73);

$offWhite: rgb(245, 245, 245);
$black: rgb(31, 31, 31);
