// COLOURS
$primary: rgb(72, 49, 212);
$highlightBlue: rgb(37, 255, 255);
$highlightRed: rgb(255, 61, 148);
$highlightYellow: rgb(253, 255, 109);
$bgColour: rgb(19, 20, 61);

$containerBG: rgb(45, 49, 111);

$offWhite: rgb(245 245 245);
$black: rgb(31 31 31);

// rgb(72, 49, 212);
